<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
	</array>
	<key>documentVersion</key>
	<string>160</string>
	<key>documentationVerticalSplitViewPosition</key>
	<real>280</real>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>guidesAreLocked</key>
	<false/>
	<key>guidesAreVisible</key>
	<true/>
	<key>lastCheckDate</key>
	<date>2013-04-21T11:53:49Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>124</real>
		<key>mainWindowFrame</key>
		<string>-2 48 1440 827 0 0 1440 878 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<false/>
		<key>splitHeight</key>
		<real>440</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>minimumSupportedBrowserVersions</key>
	<dict>
		<key>Android</key>
		<string>2.3</string>
		<key>Chrome</key>
		<string>Latest</string>
		<key>Firefox</key>
		<string>3.6</string>
		<key>IE</key>
		<string>6</string>
		<key>Mobile Safari</key>
		<string>4.3.1</string>
		<key>Opera</key>
		<string>11.10</string>
		<key>Safari</key>
		<string>5.1.3</string>
		<key>iBooks</key>
		<string>Latest</string>
	</dict>
	<key>oidCounter</key>
	<integer>3</integer>
	<key>resources</key>
	<array>
		<dict>
			<key>fileModificationDate</key>
			<date>2013-04-20T13:51:19Z</date>
			<key>fileSize</key>
			<integer>157944</integer>
			<key>md5</key>
			<string>76E4AAD1C1BFAFD625588FD163F9A5C4</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/aburt/Dropbox/SpaceApps/Backgrounds/cool space picture 4.jpg</string>
			<key>resourceName</key>
			<string>cool space picture 4.jpg</string>
			<key>securityScopedBookmark</key>
			<data>
			Ym9vawADAAAAAAQQMAAAAEV1PZp/GOxl0rlsEE4paykDSbqfC5GR
			kXJpZ8Pu75kRCAIAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGFi
			dXJ0AAAABwAAAAEBAABEcm9wYm94AAkAAAABAQAAU3BhY2VBcHBz
			AAAACwAAAAEBAABCYWNrZ3JvdW5kcwAYAAAAAQEAAGNvb2wgc3Bh
			Y2UgcGljdHVyZSA0LmpwZxgAAAABBgAABAAAABQAAAAkAAAANAAA
			AEgAAABcAAAACAAAAAQDAAAjwAAAAAAAAAgAAAAEAwAArSUFAAAA
			AAAIAAAABAMAALNnFgAAAAAACAAAAAQDAADDVR8BAAAAAAgAAAAE
			AwAA1lUfAQAAAAAIAAAABAMAAFhWHwEAAAAAGAAAAAEGAACcAAAA
			rAAAALwAAADMAAAA3AAAAOwAAAAIAAAAAAQAAEG3ItTXAAAAGAAA
			AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQA
			AAAAAAAABAAAAAMDAAD2AQAADAAAAAEBAABNYWNpbnRvc2ggSEQI
			AAAABAMAAACAgT10AAAACAAAAAAEAABBtEAUGAAAACQAAAABAQAA
			MDU2QjE5QzAtMEE2NC0zQjMyLUJBQjgtOTBCMzVGODA5RjYyGAAA
			AAECAACBAAAAAQAIAO8/AAABAAgAAAAAAAAAAAABAAAAAQEAAC8A
			AAAAAAAAAQUAAAQAAAADAwAAAAkAKMAAAAD+////AQAAAAAAAAAP
			AAAABBAAAHwAAAAAAAAABRAAAPwAAAAAAAAAEBAAACwBAAAAAAAA
			QBAAABwBAAAAAAAAAiAAAOgBAAAAAAAAECAAAGgBAAAAAAAAESAA
			AJwBAAAAAAAAEiAAAHwBAAAAAAAAEyAAAIwBAAAAAAAAICAAAMgB
			AAAAAAAAMCAAAPQBAAAAAAAAAcAAAEwBAAAAAAAAEcAAABQAAAAA
			AAAAEsAAAFwBAAAAAAAAENAAAPwBAAAAAAAA
			</data>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<true/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
		<dict>
			<key>fileModificationDate</key>
			<date>2013-04-21T11:50:20Z</date>
			<key>fileSize</key>
			<integer>810159</integer>
			<key>md5</key>
			<string>891291FC57A7B0BB1AE410C55BE0264C</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/aburt/Dropbox/SpaceApps/Images/v-shoes.png</string>
			<key>resourceName</key>
			<string>v-shoes.png</string>
			<key>securityScopedBookmark</key>
			<data>
			Ym9va/ACAAAAAAQQMAAAANN3HKeROhKJPGetw5zHQwP7R30kB5i7
			94zvnuwFqeie+AEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGFi
			dXJ0AAAABwAAAAEBAABEcm9wYm94AAkAAAABAQAAU3BhY2VBcHBz
			AAAABgAAAAEBAABJbWFnZXMAAAsAAAABAQAAdi1zaG9lcy5wbmcA
			GAAAAAEGAAAEAAAAFAAAACQAAAA0AAAASAAAAFgAAAAIAAAABAMA
			ACPAAAAAAAAACAAAAAQDAACtJQUAAAAAAAgAAAAEAwAAs2cWAAAA
			AAAIAAAABAMAAMNVHwEAAAAACAAAAAQDAADTVR8BAAAAAAgAAAAE
			AwAAZVMgAQAAAAAYAAAAAQYAAIwAAACcAAAArAAAALwAAADMAAAA
			3AAAAAgAAAAABAAAQbckCfwAAAAYAAAAAQIAAAEAAAAAAAAADwAA
			AAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAAAwMAAPYB
			AAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAICBPXQAAAAI
			AAAAAAQAAEG0QBQYAAAAJAAAAAEBAAAwNTZCMTlDMC0wQTY0LTNC
			MzItQkFCOC05MEIzNUY4MDlGNjIYAAAAAQIAAIEAAAABAAgA7z8A
			AAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAABAAAAAMD
			AAAACQAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAbAAAAAAAAAAF
			EAAA7AAAAAAAAAAQEAAAHAEAAAAAAABAEAAADAEAAAAAAAACIAAA
			2AEAAAAAAAAQIAAAWAEAAAAAAAARIAAAjAEAAAAAAAASIAAAbAEA
			AAAAAAATIAAAfAEAAAAAAAAgIAAAuAEAAAAAAAAwIAAA5AEAAAAA
			AAABwAAAPAEAAAAAAAARwAAAFAAAAAAAAAASwAAATAEAAAAAAAAQ
			0AAA7AEAAAAAAAA=
			</data>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<true/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
	</array>
	<key>sceneSize</key>
	<string>{600, 400}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>7.9666666984558105</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{1441, 530}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>2</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>cool space picture 4</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>960px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.25819</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>-9px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>763px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>cool space picture 4.jpg</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>490px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>617px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>-45px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
					<key>3</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>v-shoes</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>1024px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.33333</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>-468px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>768px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>v-shoes.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>400px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>533.333px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>61px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
				</dict>
				<key>onSceneKeyDownActions</key>
				<array/>
				<key>onSceneKeyPressActions</key>
				<array/>
				<key>onSceneKeyUpActions</key>
				<array/>
				<key>onSceneLoadActions</key>
				<array/>
				<key>onSceneTimelineCompleteActions</key>
				<array/>
				<key>onSceneUnloadActions</key>
				<array/>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>1.2666666507720947</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-369px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-468px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>FA83E4B1-916E-4018-AF98-3D3A7C601931-59494-0001B3FE44E8481C</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.2666666507720947</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>16px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>61px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>BA413E6F-1E2B-4BE8-B90B-FF7F9FE39FDC-59494-0001B3FEE63A9DCE</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.76666665077209473</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-297px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1.2666666507720947</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-369px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>CFB1D1F1-A242-41AF-A478-8AA9DDB6D2E0-59494-0001B3FEDF4DE0A0</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.76666665077209473</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>40px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1.2666666507720947</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>16px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>56D102F1-0643-465D-8BFA-BEA883423B94-59494-0001B3FEE63F335E</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.2000000476837158</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>8px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2.0333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>40px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>D0B7FE6F-17F8-4B81-A5AB-423B3A51116C-59494-0001B3FFCD041BC9</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.2000000476837158</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-219px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2.0333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-297px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>3CCDF7EB-FA72-4376-AF5B-CB97CEAB4AEC-59494-0001B3FFCFE4194F</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.3999998569488525</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-139px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>3.2333333492279053</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-219px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>2DFE54F3-ECF2-4627-A91B-F92E82550A09-59494-0001B400B71DFC7A</string>
								<key>zIndex</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.3999998569488525</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>36px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>3.2333333492279053</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>8px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>2839932B-0FF7-4A8B-983B-A9F55A3292B4-59494-0001B400B72DDD9A</string>
								<key>zIndex</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.1000003814697266</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-63px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>4.6333332061767578</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-139px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>11678999-BD28-407D-8396-FECF0A4FEF17-59494-0001B40197004BDF</string>
								<key>zIndex</key>
								<integer>5</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.1000003814697266</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>0px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>4.6333332061767578</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>36px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>FDF7FB97-D1D2-4DDA-9F08-F3368D73D312-59494-0001B4019EF0E3A6</string>
								<key>zIndex</key>
								<integer>5</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.366666316986084</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>37px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>5.7333335876464844</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>0px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>F4AA5F0D-747F-4AA0-B844-BAB1F7F65949-59494-0001B4023038C6B1</string>
								<key>zIndex</key>
								<integer>6</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.366666316986084</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>0px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>5.7333335876464844</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-63px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>EB123FC2-1C80-4498-87BC-5144977DFB4D-59494-0001B4023338509A</string>
								<key>zIndex</key>
								<integer>6</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.86666679382324219</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>80px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>7.0999999046325684</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>0px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>1D623267-DD5E-47CB-9DAC-55F43F27FCBB-59494-0001B4031212C608</string>
								<key>zIndex</key>
								<integer>7</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.86666679382324219</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>0px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>7.0999999046325684</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>37px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>E157E58E-01C2-45BF-A0B0-65832C815797-59494-0001B403175D3FFB</string>
								<key>zIndex</key>
								<integer>7</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>7.9666666984558105</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>0px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>BEC19E12-3891-461A-8119-70E24DB4200E-59494-0001B403B9315AEC</string>
								<key>zIndex</key>
								<integer>8</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>7.9666666984558105</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>80px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>DD3F2B49-27F1-46C9-88CF-DCCB1CA88A0F-59494-0001B403BD8BDAB6</string>
								<key>zIndex</key>
								<integer>8</integer>
							</dict>
						</array>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Untitled Scene</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{1, 46}</string>
			<key>selectedObjects</key>
			<array>
				<string>3</string>
			</array>
			<key>showTimelineActions</key>
			<false/>
			<key>splitHeight</key>
			<real>440</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>sourceEditorDocumentationHeight</key>
	<real>230</real>
	<key>useGraphicsAcceleration</key>
	<true/>
	<key>zoomFactor</key>
	<real>1</real>
</dict>
</plist>
