<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
	</array>
	<key>documentVersion</key>
	<string>160</string>
	<key>documentationVerticalSplitViewPosition</key>
	<real>280</real>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>guidesAreLocked</key>
	<false/>
	<key>guidesAreVisible</key>
	<true/>
	<key>lastCheckDate</key>
	<date>2013-04-21T10:36:05Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>124</real>
		<key>mainWindowFrame</key>
		<string>0 51 1440 827 0 0 1440 878 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<false/>
		<key>splitHeight</key>
		<real>459</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>minimumSupportedBrowserVersions</key>
	<dict>
		<key>Android</key>
		<string>2.3</string>
		<key>Chrome</key>
		<string>Latest</string>
		<key>Firefox</key>
		<string>3.6</string>
		<key>IE</key>
		<string>6</string>
		<key>Mobile Safari</key>
		<string>4.3.1</string>
		<key>Opera</key>
		<string>11.10</string>
		<key>Safari</key>
		<string>5.1.3</string>
		<key>iBooks</key>
		<string>Latest</string>
	</dict>
	<key>oidCounter</key>
	<integer>4</integer>
	<key>resources</key>
	<array>
		<dict>
			<key>fileModificationDate</key>
			<date>2013-04-20T13:52:43Z</date>
			<key>fileSize</key>
			<integer>11303</integer>
			<key>md5</key>
			<string>1B016C91280DAEE2B81730236D7098EE</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/aburt/Dropbox/SpaceApps/Backgrounds/science.jpg</string>
			<key>resourceName</key>
			<string>science.jpg</string>
			<key>securityScopedBookmark</key>
			<data>
			Ym9va/QCAAAAAAQQMAAAAIrkjKvSJs2pd9DX/RI0yln0JdmUlWyO
			RXrLB2KQNrzH/AEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGFi
			dXJ0AAAABwAAAAEBAABEcm9wYm94AAkAAAABAQAAU3BhY2VBcHBz
			AAAACwAAAAEBAABCYWNrZ3JvdW5kcwALAAAAAQEAAHNjaWVuY2Uu
			anBnABgAAAABBgAABAAAABQAAAAkAAAANAAAAEgAAABcAAAACAAA
			AAQDAAAjwAAAAAAAAAgAAAAEAwAArSUFAAAAAAAIAAAABAMAALNn
			FgAAAAAACAAAAAQDAADDVR8BAAAAAAgAAAAEAwAA1lUfAQAAAAAI
			AAAABAMAADhWHwEAAAAAGAAAAAEGAACQAAAAoAAAALAAAADAAAAA
			0AAAAOAAAAAIAAAAAAQAAEG3ItUrAAAAGAAAAAECAAABAAAAAAAA
			AA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAAAAMD
			AAD2AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACAgT10
			AAAACAAAAAAEAABBtEAUGAAAACQAAAABAQAAMDU2QjE5QzAtMEE2
			NC0zQjMyLUJBQjgtOTBCMzVGODA5RjYyGAAAAAECAACBAAAAAQAI
			AO8/AAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQA
			AAADAwAAAAkAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAHAAAAAA
			AAAABRAAAPAAAAAAAAAAEBAAACABAAAAAAAAQBAAABABAAAAAAAA
			AiAAANwBAAAAAAAAECAAAFwBAAAAAAAAESAAAJABAAAAAAAAEiAA
			AHABAAAAAAAAEyAAAIABAAAAAAAAICAAALwBAAAAAAAAMCAAAOgB
			AAAAAAAAAcAAAEABAAAAAAAAEcAAABQAAAAAAAAAEsAAAFABAAAA
			AAAAENAAAPABAAAAAAAA
			</data>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<true/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
		<dict>
			<key>fileModificationDate</key>
			<date>2013-04-20T22:06:00Z</date>
			<key>fileSize</key>
			<integer>723752</integer>
			<key>md5</key>
			<string>B0C9AFD15F59D850B05BBF9A88F90942</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/aburt/Dropbox/SpaceApps/Images/image2.png</string>
			<key>resourceName</key>
			<string>image2.png</string>
			<key>securityScopedBookmark</key>
			<data>
			Ym9va/ACAAAAAAQQMAAAAFu6FdP6o+fF9X7P/7aTDDtp+ABWriQ0
			eRUoDhjsRwZH+AEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGFi
			dXJ0AAAABwAAAAEBAABEcm9wYm94AAkAAAABAQAAU3BhY2VBcHBz
			AAAABgAAAAEBAABJbWFnZXMAAAoAAAABAQAAaW1hZ2UyLnBuZwAA
			GAAAAAEGAAAEAAAAFAAAACQAAAA0AAAASAAAAFgAAAAIAAAABAMA
			ACPAAAAAAAAACAAAAAQDAACtJQUAAAAAAAgAAAAEAwAAs2cWAAAA
			AAAIAAAABAMAAMNVHwEAAAAACAAAAAQDAADTVR8BAAAAAAgAAAAE
			AwAALrYfAQAAAAAYAAAAAQYAAIwAAACcAAAArAAAALwAAADMAAAA
			3AAAAAgAAAAABAAAQbcjSMgAAAAYAAAAAQIAAAEAAAAAAAAADwAA
			AAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAAAwMAAPYB
			AAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAICBPXQAAAAI
			AAAAAAQAAEG0QBQYAAAAJAAAAAEBAAAwNTZCMTlDMC0wQTY0LTNC
			MzItQkFCOC05MEIzNUY4MDlGNjIYAAAAAQIAAIEAAAABAAgA7z8A
			AAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAABAAAAAMD
			AAAACQAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAbAAAAAAAAAAF
			EAAA7AAAAAAAAAAQEAAAHAEAAAAAAABAEAAADAEAAAAAAAACIAAA
			2AEAAAAAAAAQIAAAWAEAAAAAAAARIAAAjAEAAAAAAAASIAAAbAEA
			AAAAAAATIAAAfAEAAAAAAAAgIAAAuAEAAAAAAAAwIAAA5AEAAAAA
			AAABwAAAPAEAAAAAAAARwAAAFAAAAAAAAAASwAAATAEAAAAAAAAQ
			0AAA7AEAAAAAAAA=
			</data>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<true/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
		<dict>
			<key>fileModificationDate</key>
			<date>2013-04-20T21:04:16Z</date>
			<key>fileSize</key>
			<integer>1094720</integer>
			<key>md5</key>
			<string>DABA8DCA7F8961E2C515C9037585D071</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/aburt/Dropbox/SpaceApps/Images/image24.png</string>
			<key>resourceName</key>
			<string>image24.png</string>
			<key>securityScopedBookmark</key>
			<data>
			Ym9va/ACAAAAAAQQMAAAAJl1kdmAcAFNmDWRLLgJ6ke96nUXDo2v
			hbmLnmVOE8s7+AEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGFi
			dXJ0AAAABwAAAAEBAABEcm9wYm94AAkAAAABAQAAU3BhY2VBcHBz
			AAAABgAAAAEBAABJbWFnZXMAAAsAAAABAQAAaW1hZ2UyNC5wbmcA
			GAAAAAEGAAAEAAAAFAAAACQAAAA0AAAASAAAAFgAAAAIAAAABAMA
			ACPAAAAAAAAACAAAAAQDAACtJQUAAAAAAAgAAAAEAwAAs2cWAAAA
			AAAIAAAABAMAAMNVHwEAAAAACAAAAAQDAADTVR8BAAAAAAgAAAAE
			AwAADLMfAQAAAAAYAAAAAQYAAIwAAACcAAAArAAAALwAAADMAAAA
			3AAAAAgAAAAABAAAQbcjOlAAAAAYAAAAAQIAAAEAAAAAAAAADwAA
			AAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAAAwMAAPYB
			AAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAICBPXQAAAAI
			AAAAAAQAAEG0QBQYAAAAJAAAAAEBAAAwNTZCMTlDMC0wQTY0LTNC
			MzItQkFCOC05MEIzNUY4MDlGNjIYAAAAAQIAAIEAAAABAAgA7z8A
			AAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAABAAAAAMD
			AAAACQAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAbAAAAAAAAAAF
			EAAA7AAAAAAAAAAQEAAAHAEAAAAAAABAEAAADAEAAAAAAAACIAAA
			2AEAAAAAAAAQIAAAWAEAAAAAAAARIAAAjAEAAAAAAAASIAAAbAEA
			AAAAAAATIAAAfAEAAAAAAAAgIAAAuAEAAAAAAAAwIAAA5AEAAAAA
			AAABwAAAPAEAAAAAAAARwAAAFAAAAAAAAAASwAAATAEAAAAAAAAQ
			0AAA7AEAAAAAAAA=
			</data>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<true/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
	</array>
	<key>sceneSize</key>
	<string>{600, 400}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>5.9666666984558105</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{1441, 542}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>2</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>science</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>259px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.33505</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>194px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>science.jpg</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>449px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>600px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>-36px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
					<key>3</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>image2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>568px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>0.433588</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>-183px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>1310px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>image2.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>400px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>173.435px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>5px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
					<key>4</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>75px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>image24.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>214px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>197px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>0.445358</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string></string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>96px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>3</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>image24</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>1702px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>758px</string>
						</dict>
					</array>
				</dict>
				<key>onSceneKeyDownActions</key>
				<array/>
				<key>onSceneKeyPressActions</key>
				<array/>
				<key>onSceneKeyUpActions</key>
				<array/>
				<key>onSceneLoadActions</key>
				<array/>
				<key>onSceneTimelineCompleteActions</key>
				<array/>
				<key>onSceneUnloadActions</key>
				<array/>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>2.9666666984558105</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>7px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>5px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>CF57AB22-F9A9-402D-90B0-B31E019B6C15-59494-0001AFD132AF071B</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>2.9666666984558105</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-16px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-183px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>C992C685-CCC8-4B73-A9CB-3DE90521297E-59494-0001AFD145FBA829</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>5.9666666984558105</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>201px</string>
								</dict>
								<key>identifier</key>
								<string>Width</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>173.435px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>6B8AEBB8-7A2F-4614-B19E-55624AD124A2-59494-0001AFDCF1FD31EA</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>5.9666666984558105</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>464px</string>
								</dict>
								<key>identifier</key>
								<string>Height</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>400px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>2792EAEF-ED7B-4640-B9D4-8FD112582E96-59494-0001AFDCF20EC4CB</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>3</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>7px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2.9666666984558105</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-16px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>5C48649F-160A-41CA-9297-E2F04EE81643-59494-0001AFD3DF495F3E</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>3</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>2px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2.9666666984558105</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>7px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>9FDD5D16-191C-4F30-8170-86E9EF68CF23-59494-0001AFD3E28DA266</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Width</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>5.9666666984558105</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>201px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>D070239A-77B9-4D24-AFFF-D978AC417A55-59494-0001AFDCF201D239</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Height</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>5.9666666984558105</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>464px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>2A4E288E-92C7-4A82-9663-C75A5E456BE9-59494-0001AFDCF2130B05</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>5.9666666984558105</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>2px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>F2DE948D-C777-4339-AC90-10B65051DE39-59494-0001AFDAF0D9EAEC</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>5.9666666984558105</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>7px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>91EF09BB-DDC4-4BF7-9A26-66D8D5DF4685-59494-0001AFDAF8A119C1</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
						</array>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Untitled Scene</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{1, 26}</string>
			<key>selectedObjects</key>
			<array>
				<string>3</string>
			</array>
			<key>showTimelineActions</key>
			<false/>
			<key>splitHeight</key>
			<real>459</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>sourceEditorDocumentationHeight</key>
	<real>230</real>
	<key>useGraphicsAcceleration</key>
	<true/>
	<key>zoomFactor</key>
	<real>1</real>
</dict>
</plist>
