<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
	</array>
	<key>documentVersion</key>
	<string>160</string>
	<key>documentationVerticalSplitViewPosition</key>
	<real>280</real>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>guidesAreLocked</key>
	<false/>
	<key>guidesAreVisible</key>
	<true/>
	<key>lastCheckDate</key>
	<date>2013-04-21T10:48:20Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>124</real>
		<key>mainWindowFrame</key>
		<string>0 51 1440 827 0 0 1440 878 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<false/>
		<key>splitHeight</key>
		<real>380</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>minimumSupportedBrowserVersions</key>
	<dict>
		<key>Android</key>
		<string>2.3</string>
		<key>Chrome</key>
		<string>Latest</string>
		<key>Firefox</key>
		<string>3.6</string>
		<key>IE</key>
		<string>6</string>
		<key>Mobile Safari</key>
		<string>4.3.1</string>
		<key>Opera</key>
		<string>11.10</string>
		<key>Safari</key>
		<string>5.1.3</string>
		<key>iBooks</key>
		<string>Latest</string>
	</dict>
	<key>oidCounter</key>
	<integer>4</integer>
	<key>resources</key>
	<array>
		<dict>
			<key>md5</key>
			<string>E671C198C86037767E5769ACCE72CB4A</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>resourceName</key>
			<string>Pasted.png</string>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<true/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
		<dict>
			<key>fileModificationDate</key>
			<date>2013-04-20T20:47:09Z</date>
			<key>fileSize</key>
			<integer>3074476</integer>
			<key>md5</key>
			<string>B15EBA788F4093DACBAB95C4535F7E9A</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/aburt/Dropbox/SpaceApps/Images/image14.png</string>
			<key>resourceName</key>
			<string>image14.png</string>
			<key>securityScopedBookmark</key>
			<data>
			Ym9va/ACAAAAAAQQMAAAAEIkn1ehkx4cveZcsAJXVKGKhcBZyfZT
			THPkiUk0N5X/+AEAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGFi
			dXJ0AAAABwAAAAEBAABEcm9wYm94AAkAAAABAQAAU3BhY2VBcHBz
			AAAABgAAAAEBAABJbWFnZXMAAAsAAAABAQAAaW1hZ2UxNC5wbmcA
			GAAAAAEGAAAEAAAAFAAAACQAAAA0AAAASAAAAFgAAAAIAAAABAMA
			ACPAAAAAAAAACAAAAAQDAACtJQUAAAAAAAgAAAAEAwAAs2cWAAAA
			AAAIAAAABAMAAMNVHwEAAAAACAAAAAQDAADTVR8BAAAAAAgAAAAE
			AwAAFrMfAQAAAAAYAAAAAQYAAIwAAACcAAAArAAAALwAAADMAAAA
			3AAAAAgAAAAABAAAQbcjNk0AAAAYAAAAAQIAAAEAAAAAAAAADwAA
			AAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAAAwMAAPYB
			AAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAICBPXQAAAAI
			AAAAAAQAAEG0QBQYAAAAJAAAAAEBAAAwNTZCMTlDMC0wQTY0LTNC
			MzItQkFCOC05MEIzNUY4MDlGNjIYAAAAAQIAAIEAAAABAAgA7z8A
			AAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAABAAAAAMD
			AAAACQAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAbAAAAAAAAAAF
			EAAA7AAAAAAAAAAQEAAAHAEAAAAAAABAEAAADAEAAAAAAAACIAAA
			2AEAAAAAAAAQIAAAWAEAAAAAAAARIAAAjAEAAAAAAAASIAAAbAEA
			AAAAAAATIAAAfAEAAAAAAAAgIAAAuAEAAAAAAAAwIAAA5AEAAAAA
			AAABwAAAPAEAAAAAAAARwAAAFAAAAAAAAAASwAAATAEAAAAAAAAQ
			0AAA7AEAAAAAAAA=
			</data>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<true/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
	</array>
	<key>sceneSize</key>
	<string>{600, 400}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>9.3666667938232422</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{1441, 443}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>3</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Pasted</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>2256px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.48813</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>1516px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>Pasted.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>403px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>600px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>-1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
					<key>4</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>RotationAxis</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>276px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>image14.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Rotate</string>
							<key>objectValue</key>
							<string>0deg</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>99px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>-231px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.76714</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>175px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>image14</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>1546px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>2732px</string>
						</dict>
					</array>
				</dict>
				<key>onSceneKeyDownActions</key>
				<array/>
				<key>onSceneKeyPressActions</key>
				<array/>
				<key>onSceneKeyUpActions</key>
				<array/>
				<key>onSceneLoadActions</key>
				<array/>
				<key>onSceneTimelineCompleteActions</key>
				<array/>
				<key>onSceneUnloadActions</key>
				<array/>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>0.13333334028720856</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-208px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-231px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>9D58DC59-A93F-40F6-ADD3-2B9200126176-59494-0001B072D8497069</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.13333334028720856</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>292px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>276px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>26906D3A-02EB-4B39-9DDD-8AD95254CCF2-59494-0001B072E0FF709C</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>4.0333333015441895</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Rotate</string>
									<key>objectValue</key>
									<string>93deg</string>
								</dict>
								<key>identifier</key>
								<string>Rotate</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Rotate</string>
									<key>objectValue</key>
									<string>0deg</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>C0E835C3-1F1B-4DC9-A612-44D441884620-59494-0001B07B5ABCD8BA</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>4.0333333015441895</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>290px</string>
								</dict>
								<key>identifier</key>
								<string>Width</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>175px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>0F32D926-8926-442D-8EAD-AACA30030768-59494-0001B093A23B8DD4</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>4.0333333015441895</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>164px</string>
								</dict>
								<key>identifier</key>
								<string>Height</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>99px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>13A5C253-D873-4777-ABA9-808174EACACF-59494-0001B093A2498CA7</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>3.8999999612569809</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>757px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>0.13333334028720856</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-208px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>A3E08562-7F96-4917-B945-4447B6B1574A-59494-0001B072D8501A64</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>3.8999999612569809</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>58px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>0.13333334028720856</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>292px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>082DF176-3E6E-4262-AD61-F65AA2694F0E-59494-0001B072E1042A38</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>4.0333333015441895</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Rotate</string>
									<key>objectValue</key>
									<string>0deg</string>
								</dict>
								<key>identifier</key>
								<string>Rotate</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>4.0333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Rotate</string>
									<key>objectValue</key>
									<string>93deg</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>C4664D7B-FA8F-4561-97FC-D52355207D36-59494-0001B07B5AC238EC</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Width</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>4.0333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>290px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>93F558E5-22FD-4AE0-9E17-FEC81B14557B-59494-0001B093A23FD534</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Height</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>4.0333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>164px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>0D1265D3-5EA7-4524-842C-6FFAF37811A0-59494-0001B093A24DAFE0</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>4.0333333015441895</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-191px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>4.0333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>757px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>EECFC3BE-F323-4B4B-B956-4F6B34BA0B6F-59494-0001B075691AB303</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>4.0333333015441895</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>54px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>4.0333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>58px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>FC846C74-8802-4466-A9D0-1B4EF057DAE7-59494-0001B0756B5BFB1D</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Rotate</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>8.0666666030883789</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Rotate</string>
									<key>objectValue</key>
									<string>0deg</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>6B4D5EA5-3DA3-4D3A-938D-7270D9A52496-59494-0001B08A64792DEF</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.3000001907348633</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-357px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>8.0666666030883789</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-191px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>94D58936-0EAF-4803-8665-94004A60038E-59494-0001B083D5C5B557</string>
								<key>zIndex</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.3000001907348633</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>50px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>8.0666666030883789</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>54px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>F7681FBA-FF35-4BAF-8968-C7EC624C15BC-59494-0001B083DB0775C0</string>
								<key>zIndex</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>9.3666667938232422</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-357px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>69F96F76-D4BA-4305-9755-49515FAB15C5-59494-0001B097B83857AB</string>
								<key>zIndex</key>
								<integer>5</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>9.3666667938232422</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>50px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>CCC239F1-08BF-4086-9BFF-9E67041E2392-59494-0001B097B8514604</string>
								<key>zIndex</key>
								<integer>5</integer>
							</dict>
						</array>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Untitled Scene</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{1, 2}</string>
			<key>selectedObjects</key>
			<array>
				<string>4</string>
			</array>
			<key>showTimelineActions</key>
			<false/>
			<key>splitHeight</key>
			<real>380</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>sourceEditorDocumentationHeight</key>
	<real>230</real>
	<key>useGraphicsAcceleration</key>
	<true/>
	<key>zoomFactor</key>
	<real>1</real>
</dict>
</plist>
